:root {
  --theme-color: #ffffff;
  --primary-color: #4a4a4a;
  --secundary-color: #FCE762;
  --text-color-inverse: #FFFDED;
  --text-color: #404040;
  --navbar-shallow-color: #676767;
  --menu-mobile-background-color: #829CBC;
}

html{
  scroll-behavior: smooth;
}

section[id]{
  scroll-margin-top: 70%;
}

body{
  font-family: 'chivo';
  background-color: white;
  color: var(--text-color);
  padding-top: 70px;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  filter: brightness(140%);
}

.horizontal-padding{
  padding-left: 25px;
  padding-right: 25px;
}

.vertical-padding{
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 950px){
  .horizontal-padding{
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .vertical-padding{
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
