:root {
  --theme-color: #fffae7;
  --primary-color: #52392f;
  --secundary-color: #8c614f;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #8c614f;
}

body{
  font-family: 'chivo';
  background-color: white;
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: var(--text-color);
}