:root {
  --theme-color: #fffae7;
  --primary-color: #52392f;
  --secundary-color: #8c614f;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #8c614f;
}

body{
  font-family: 'chivo';
  background-color: white;
  color: var(--text-color);
  padding-top: 70px;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.horizontal-padding{
  padding-left: 25px;
  padding-right: 25px;
}

.vertical-padding{
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 950px){
  .horizontal-padding{
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .vertical-padding{
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
